{{#each this}}

  <h2 class="country__name">{{name}}</h2>
  
    <div class="overlay">
      <div class="country__info">
        <p class="country__capital"><span class="title">Capital:</span> {{capital}}</p>
    <p class="country__population"><span class="title">Population:</span> {{population}}</p>
   
     <ul class="country__languages" > 
       <span class="title">Languages:</span> {{#each languages}}
     <li class="country__languages--item">
       {{this.name}}
     </li>
     {{/each}}
     </ul>
      </div>
    
    <img class="country__img" src="{{flag}}" alt="Flag" width="300">
    </div>
  


{{/each}}
